.collapsible-header {
	background-color: #00517f;
}

.collapsible-body {
	background-color: rgb(248, 251, 236);
}

.button {
	background-color: #1bbf1b;
}

.nav {
	background-color: rgb(248, 251, 236) !important;
}