.collapsible-header {
	background-color: #004165;
	color: white;

}

.collapsible-body {
	background-color: rgb(248, 251, 236);
	padding: 1rem;
}

.button {
	background-color: #1bbf1b;
}

.nav {
	
}

html {
	
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.leaflet-verticalcenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 10px;
}

.leaflet-verticalcenter .leaflet-control {
    margin-bottom: 10px;
}

.leaflet-top {
	margin-top: 80px;
}

.optgroup>span {
	color:black!important;
}

.nav-mobile li a {

	height: 28px !important;
	border: 1px !important;
	font-size: 0.7rem !important;
}

nav ul a {
color: #004165 !important;
}

.nav-wrapper span {
	padding-left: 180px;
	color: #004165;
	position: absolute;
	top:1vh;
}
#login .modal-content {
	background: #f3f6f1;
background: -webkit-linear-gradient(left, #f3f6f1, #004165);
background: -moz-linear-gradient(left, #f3f6f1, #004165);
background: -o-linear-gradient(left, #f3f6f1, #004165);
background: linear-gradient(0deg, #f3f6f1, #004165);
font-family: "Roboto", sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background-image: url('https://static.pexels.com/photos/542416/pexels-photo-542416.png');
background-size: cover;
}

#login  {
	overflow-y: visible !important;
}

#login-text {
	/*position: absolute;
	top: 2.8vh;
	right: 10px;
	font-size: 12px;*/
}
#pricing section {
	max-width: 100% !important;
	width: 100% !important;
}

.btn {
	background-color: #52b840 !important;
}

.map-leg-d-1 {
	color: #FFA020;
	border-radius: 50%;
	cursor: default;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 8px;
	position: relative;
	box-shadow: inset 0 0 0 2px;
	position: relative;
	overflow: hidden;
	margin-left:8px !important;
	margin-top:5px;
	margin-bottom:0px;
}

.map-leg-d-2 {
	border-radius: 0%;
	cursor: default;
	display: inline-block;
	width: 20px;
	height: 3px;
	margin-right: 8px;
	position: relative;
	box-shadow: inset 0 0 0 2px;
	position: relative;
	overflow: hidden;
	margin-left:8px !important;
}

.map-leg-d-3 {
	cursor: default;
	display: inline-block;
	width: 20px;
	height: 3px;
	margin-right: 8px;
	position: relative;
	box-shadow: inset 0 0 0 2px;
	position: relative;
	overflow: hidden;
	margin-left:8px !important;
}

.legend-box {

	background-color: #fff;
	border-radius: 3px;
	padding: 8px 0;
	box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12);
	position: absolute; 
	bottom:50px; 
	width:11vw; 
	right:10px; 
	z-index: 100;
	line-height: 18px;
}

.legend-box i {
    width: 18px;
    height: 18px;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    opacity: 1;
}

.leg-title {
	line-height: 24px;
	padding: 8px 16px;
	text-align: center;
}

#latlng-display {
	background-color: #fff;
	border-radius: 3px;
	padding: 8px 0;
	box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12);
	position: absolute; 
	bottom:-5px; 
	width:16vw; 
	left:0px;
	z-index: 100000000;
	font-size: 12px;
	text-align: center;
}

#visualisation-close {
	position: absolute;
	top: 92%;
	width: 10%;
	right: 18%;
}

#visualisation-slider {
	position: absolute;
	top: 95%;
	width: 40%;
	right: 30%;
	height: 8px;

}

#year-slider {
	position: absolute;
	top: 100px;
	width: 10%;
	right: 10px;
	height: 8px;

}

#year-slider-start {
	position: absolute;
	top: 120px;
	right: 10px;
	height:20px;
	color: #fe0303;
	background-color: #0c0c0c;
	font-size: 10px;
	padding: 3px;
}
/*slider styling */

.noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
}
.noUi-origin {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}
.noUi-handle {
	position: relative;
	z-index: 1;
  cursor: move;
}
.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
	z-index: 10;
}
.noUi-stacking + .noUi-origin {
/* Fix stacking order in IE7, which incorrectly
   creates a new context for the origins. */
	*z-index: -1;
}
.noUi-state-tap .noUi-origin {
-webkit-transition: left 0.3s, top 0.3s;
	transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
	cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
	height: 15px;
}
.noUi-horizontal .noUi-handle {
	width: 16px !important;
	height: 16px !important;
	left: -8px !important;
	top: -4px !important;
	border-radius: 100%;
	background-color: #52b840 !important;
	box-shadow: none !important;
}
.noUi-horizontal.noUi-extended {
	padding: 0 15px;
}
.noUi-horizontal.noUi-extended .noUi-origin  {
	right: -15px;
}


/* Styling;
 */
.noUi-background {
	background: #FAFAFA;
	box-shadow: inset 0 1px 1px #f0f0f0;
}
.noUi-connect {
	background: #464646;
	box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
-webkit-transition: background 450ms;
	transition: background 450ms;
}
.noUi-origin {
	border-radius: 10px;
}
.noUi-target {
	background: #fff;
	border-radius: 10px;
	border: 1px solid #D3D3D3;
}
.noUi-target.noUi-connect {
	box-shadow: inset 0 0 3px rgba(51,51,51,0.45), 0 3px 6px -5px #BBB;
}

/* Handles and cursors;
 */
.noUi-dragable {
	cursor: w-resize;
}

.noUi-handle {
	border: 1px solid #464646;
	border-radius: 100%;
	background: #464646;
	cursor: default;
}
.noUi-active {

}

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
	display: none !important;
	position: absolute;
	height: 14px;
	width: 1px;
	background: #E8E7E6;
	left: 14px;
	top: 6px;
}
.noUi-handle:after {
	left: 17px;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
	background: #B8B8B8;
}
[disabled] .noUi-handle {
	cursor: not-allowed;
}


.preloader-wrapper {
	z-index: 1000000;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
}

br {
	font-size: 1.8vh !important;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}