.collapsible-header {
	background-color: #00517f;
	color: white;

}

.collapsible-body {
	background-color: rgb(248, 251, 236);
	padding: 1rem;
}

.button {
	background-color: #1bbf1b;
}

.nav {
	
}

html {
	line-height: 0.5 !important;
}

.leaflet-verticalcenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 10px;
}

.leaflet-verticalcenter .leaflet-control {
    margin-bottom: 10px;
}

.optgroup>span {
	color:black!important;
}

.btn {
	line-height: 20px!important;
	height: 28px !important;
	border: 1px !important;
	font-size: 0.7rem !important;
}

#login .modal-content {
	background: #76b852;
background: -webkit-linear-gradient(right, #76b852, #8DC26F);
background: -moz-linear-gradient(right, #76b852, #8DC26F);
background: -o-linear-gradient(right, #76b852, #8DC26F);
background: linear-gradient(to left, #76b852, #00517f);
font-family: "Roboto", sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

#login  {
	overflow-y: visible !important;
}

#pricing section {
	max-width: 100% !important;
	width: 100% !important;
}